@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;

  /* width: 1280px; */
  width: 80%;
  background-color: #1b1b1b;

  /* padding: 31px 200px 60px 650px; */
  margin: 0 auto;


}

p, div  {
  cursor: default;
}

.header {
  width: 80%;
}

.header__logo {
  font-size: 42px;
  color: #ffffff;
  margin: 40px 0 10px 0 ;
}

sup {
  font-size: 12px;
}

.header__line {
  height: 0px;
  opacity: 0.7;
  border-bottom: 1px solid #545454;
  margin-bottom: 40px;
}

.profile {
  /* height: 120px; */
  width: 80%;

  display: flex;
  justify-content:space-between;
  align-items: center;
}

.profile__main {
  display: flex;
  margin: 0;
  align-items: center;
}

.profile__pic {
  border-radius: 50%;
  height: 120px;
}

.profile__info {
  margin-left: 34px;

  /* height: 120px; */

  display: flex;
  flex-direction: column;
  justify-content:left;
}

.profile__name {
  font-size: 42px;
  color: #ffffff;
  margin: 0;
}

.profile__status {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.profile__add-btn {
  box-sizing: border-box;
  background-color: #1b1b1b;
  border: 2px solid #ffffff;
  border-radius: 2px;
  height: 50px;
  width: 150px;

  background-image: url("./img/icon/add.png");
  background-repeat: no-repeat;
  background-position: center;

  margin: 0;

  /* margin: 35px 0; */
}

.profile__add-btn:hover {
  /* border: 1px solid #ffffff; */
  cursor: pointer;

  opacity: 0.6;
}

.content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
}

.card__item {
  width: 250px;
  /* height: 320px; */

  background: #ffffff;
  border-radius: 10px;

  margin: 30px 0 0 0;
}

.card__pic {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 250px;
  object-fit:cover;
  
}

.card__info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
}

.card__text {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: #1b1b1b;
}

.card__fav-btn {
  height: 19px;
  width: 22px;

  margin: 5px 0 0 0;

  border: 0px solid #a2a2a2;
  cursor: pointer;

  background-image: url("./img/icon/heart_dis.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card__fav-btn:hover {
  opacity: 0.5;
}

.card__fav-btn:active, 
.card__fav-btn.active{
    background-image: url("./img/icon/heart_act.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1155px) {

  .cards {

    gap: 10px;

  }
  }

@media (max-width: 700px) {


.profile__main, .profile {
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
}